Backend/node_modules
Frontend/node_modules
.DS_Store
Backend/package-lock.json
Frontend/package-lock.json
kafka-backend/node_modules/
Backend/.DS_Store
Frontend/.DS_Store
Backend/.env
Backend/.DS_Store
